* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

img {
    max-width: 100%;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.reg-wrap {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 48px;
        font-weight: 700;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        & input, select {
            width: 438px;
            height: 56px;
            border: 1px solid #000;
            border-radius: 7px;
            outline-width: 2px;
            outline-color: #0047FF;
            font-size: 17px;
            padding: 10px 15px;
        }

        & button {
            width: 438px;
            height: 56px;
            border: 0;
            border-radius: 8px;
            background-color: #0047FF;
            padding-block: 10px;
            color: #fff;
            font-size: 17px;
            cursor: pointer;
            transition: .3s ease;
        }

        & button:hover {
            scale: 1.03;
            background-color: #0134b5;
        }

        & button:active {
            scale: 1;
            background-color: #0047FF;
        }
    }

    .sign-link {
        text-decoration: 0;
        font-weight: 600;
    }
}