* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

#add-transaction {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 438px;

}

input,
select {
    height: 56px;
    border: 1px solid #000;
    border-radius: 7px;
    outline-width: 2px;
    outline-color: #0047FF;
    font-size: 17px;
    padding: 10px 15px;
}

form button {
    height: 56px;
    border: 0;
    border-radius: 8px;
    background-color: #0047FF;
    padding-block: 10px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: .3s ease;
}

.error_input {
    border: 2px solid red !important;
    outline-color: 2px solid red !important;
}

.toaster {
    width: fit-content;
    text-align: center;
    padding: 15px 20px;
    font-size: medium;
    border-radius: 7px;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: 1s ease;
    color: white;
    font-size: 24px;
    font-family: Gilroy;
  
    .time_bar {
      width: 100%;
      height: 6px;
      background-color: #0ac900;
      border-bottom-left-radius: 7px;
      /* border-bottom-right-radius: 7px; */
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
  
      animation: time_bar 4s linear forwards;
    }
  }
  
  .toaster_error {
    border: 2px solid rgb(255, 0, 140);
    background-color: rgb(246, 86, 86);
  }
  .toaster_success {
    border: 2px solid rgb(0, 255, 13);
    background-color: rgb(5, 223, 38);
  }
  .toaster_massage {
    border: 2px solid rgb(0, 4, 255);
    background-color: rgb(9, 124, 255);
  }

  @keyframes toaster {
    0% {
      right: -100%;
    }
  
    20% {
      right: 30px;
    }
  
    80% {
      right: 30px;
    }
  
    100% {
      right: -100%;
    }
  }
  
  .toaster-anim {
    animation: toaster 5s ease;
  }
  
  @keyframes time_bar {
    from{
      width: 100%;
    } 
  
    to{
      width: 0%;
    }
  }